<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Anonymous Message Board!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <header>
      <img src="https://d33wubrfki0l68.cloudfront.net/4ba4ee4d1ac4caf5c0c3fa44ccc8fddd5bd11222/3f5b1/img/freecodecamp-alternative.png" alt="FreeCodeCamp Logo">
      <h1 id="title">
         Anonymous Message Board
      </h1>
    </header>
    <div id="boards">
      <h4>Example Message Boards/Threads</h4>
      <h6>Click on any to test and try it out</h6>
      <ul class="projects-lists">
        <li><a href='/b/general/'><i>General</i> Message Board</a></li>
        <li><a id="link" href='/b/politics/'><i>Political</i> Message Board</a></li>
        <li><a href='/b/sports/'><i>Sports</i> Message Board</a></li>
        <li><a href='/b/immigration/'><i>Immigration</i> Message Board</a></li>
      </ul>
    </div>
    <div id='dd' class="examples-usages" >

      <div id="examples">
        <h3>Usages:</h3>
        <code>/api/threads/{board}</code><br>
        <code>/api/replies/{board}?thread_id={thread_id}</code><br>
      </div>
      <div id="return" class="return">
        <h3>Return:</h3>
        <code>[{"_id":"5ceffce62c32d82d6818d3b9","__v":0,"bumped_on":"2019-05-30T15:54:02.185Z","created_on":"2019-05-30T15:54:02.185Z","replies":[],"text":"Corruption"},...]</code>
      </div>

    </div>

    <hr>
    <footer id="footer" class="container-fluid">
      <p>qlip © 2019. All Rights Reserved
        By <a href="https://ng.linkedin.com/in/okonkwo-afam-14103b84">AfamO</a>
      </p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#newThread').submit(function(){
          var board = $('#board1').val();
          $(this).attr('action', "/api/threads/" + board);
        });
        $('#newReply').submit(function(){
          var board = $('#board4').val();
          $(this).attr('action', "/api/replies/" + board);
        });
        $('#reportThread').submit(function(e){
          var url = "/api/threads/"+$('#board2').val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#deleteThread').submit(function(e){
          var url = "/api/threads/"+$('#board3').val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#reportReply').submit(function(e){
          var url = "/api/replies/"+$('#board5').val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#deleteReply').submit(function(e){
          var url = "/api/replies/"+$('#board6').val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
      });
   </script>
  </body>
</html>
